@import "tailwindcss";

@layer base {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0a0e17;
    color: #dfe2ef;
    overscroll-behavior: none;
    font-family: 'Sora', sans-serif;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0e17;
}
::-webkit-scrollbar-thumb {
  background: #262a34;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}
